/* /static/styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    text-align: center;
}
h1 {
    color: #ffffff;
    text-align: center;
}
pre {
    color: #ffff00;
    text-align: center;
}
p {
    color: #ffffff
}
label {
    color: #ffffff
}
textarea {
    border: 1px solid red;
    border-radius: 10px;
}