<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>{{.Title}}</h1>
    <form action="/ascii-art" method="post">
        <p>Enter text below</p>
        <textarea name="input" id="input" rows="10" cols="50"></textarea><br>
        <br>
        <label for="banner">Select Banner:</label>
        <select id="banner" name="banner">
            <option value="standard">Standard</option>
            <option value="shadow">Shadow</option>
            <option value="thinkertoy">Thinkertoy</option>
        </select>
        <br>
        <br>
        <input type="submit" value="Generate ASCII Art">
    </form>
   <div>
       <pre>
        _    _          _   _          
        | |  | |        | | | |         
        | |__| |   ___  | | | |   ___   
        |  __  |  / _ \ | | | |  / _ \  
        | |  | | |  __/ | | | | | (_) | 
        |_|  |_|  \___| |_| |_|  \___/  
                                        
       </pre>  
    </div>   
</body>   
</html>
